.test{
    background-color: blue;
    height: 50vh;
    width: 50vw;
    left: 25vh;
    top: 25vh;
    position: fixed;
    z-index: 100;
}

#overlay{
    background-color: black;
    opacity: 50%;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
}