<div
  class="fixed bg-black opacity-80 w-screen h-screen left-0 top-0"
  (click)="onClickHandler()"
></div>

<div
  class="fixed bg-lime-300 py-4 h-3/5 w-2/4 top-1/4 left-1/4 m-auto z-10 rounded-lg border-solid border-black border-2"
>
  <div class="flex">
    <div class="flex flex-col m-auto cursor-default">
      <div class="m-auto font-bold text-2xl">
        {{ userData.dataObj.subreddit }}
      </div>
      <div class="ml-3 my-auto">
        Subs: {{ userData.dataObj.subreddit_subscribers | number }}
      </div>
    </div>
    <button class="text-4xl font-bold pr-3 pt-1 hover:scale-105" (click)="onClickHandler()">
      X
    </button>
  </div>
 

  <div class="relative flex flex-col px-10 pb-10 pt-4 h-5/6 overflow-y-scroll">
  <div class="pt-6 text-md font-bold cursor-default">{{ userData.dataObj.author }}</div>
  

      <div class="flex m-auto">
        <img class="rounded-lg border-2 border-black" src={{userData.dataObj.thumbnail}} />
        <div class="pl-5 my-auto font-bold cursor-default">{{ userData.dataObj.title }}</div>
      </div>

      <div
        class="flex text-center justify-between mx-auto my-4 p-5 bg-red-500 rounded-lg w-96 font-bold text-md bg-indigo-700 border-2 border-black cursor-default"
      >
        <div class="flex flex-col">
          <div>Votes</div>
          <div>{{ userData.dataObj.ups }}</div>
        </div>

        <div class="flex flex-col">
          <div>Ratio</div>
          <div>{{ userData.dataObj.upvote_ratio }}</div>
        </div>

        <div class="flex flex-col">
          <div>Awards</div>
          <div>{{ userData.dataObj.total_awards_received }}</div>
        </div>
      </div>

      <button
        class="border-solid border-black border-2 w-28 m-auto rounded-3xl hover:scale-105 bg-indigo-700"
        (click)="openLink()"
      >
        Open Wikipedia
      </button>
    </div>

</div>
